Proyecto WearDrop/WearDropFront/WearDrop/WearDropWA/Connected Services/ServiciosBackEnd/AlmacenWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://almacen.services.weardrop.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="AlmacenWS" targetNamespace="http://almacen.services.weardrop.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WearDropWS/AlmacenWS?xsd=1" namespace="http://almacen.services.weardrop.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarAlmacenesActivos">
    <part name="parameters" element="tns:listarAlmacenesActivos" />
  </message>
  <message name="listarAlmacenesActivosResponse">
    <part name="parameters" element="tns:listarAlmacenesActivosResponse" />
  </message>
  <message name="eliminarAlmacen">
    <part name="parameters" element="tns:eliminarAlmacen" />
  </message>
  <message name="eliminarAlmacenResponse">
    <part name="parameters" element="tns:eliminarAlmacenResponse" />
  </message>
  <message name="insertarAlmacen">
    <part name="parameters" element="tns:insertarAlmacen" />
  </message>
  <message name="insertarAlmacenResponse">
    <part name="parameters" element="tns:insertarAlmacenResponse" />
  </message>
  <message name="obtenerPorId">
    <part name="parameters" element="tns:obtenerPorId" />
  </message>
  <message name="obtenerPorIdResponse">
    <part name="parameters" element="tns:obtenerPorIdResponse" />
  </message>
  <message name="modificarAlmacen">
    <part name="parameters" element="tns:modificarAlmacen" />
  </message>
  <message name="modificarAlmacenResponse">
    <part name="parameters" element="tns:modificarAlmacenResponse" />
  </message>
  <portType name="AlmacenWS">
    <operation name="listarAlmacenesActivos">
      <input wsam:Action="http://almacen.services.weardrop.pucp.edu.pe/AlmacenWS/listarAlmacenesActivosRequest" message="tns:listarAlmacenesActivos" />
      <output wsam:Action="http://almacen.services.weardrop.pucp.edu.pe/AlmacenWS/listarAlmacenesActivosResponse" message="tns:listarAlmacenesActivosResponse" />
    </operation>
    <operation name="eliminarAlmacen">
      <input wsam:Action="http://almacen.services.weardrop.pucp.edu.pe/AlmacenWS/eliminarAlmacenRequest" message="tns:eliminarAlmacen" />
      <output wsam:Action="http://almacen.services.weardrop.pucp.edu.pe/AlmacenWS/eliminarAlmacenResponse" message="tns:eliminarAlmacenResponse" />
    </operation>
    <operation name="insertarAlmacen">
      <input wsam:Action="http://almacen.services.weardrop.pucp.edu.pe/AlmacenWS/insertarAlmacenRequest" message="tns:insertarAlmacen" />
      <output wsam:Action="http://almacen.services.weardrop.pucp.edu.pe/AlmacenWS/insertarAlmacenResponse" message="tns:insertarAlmacenResponse" />
    </operation>
    <operation name="obtenerPorId">
      <input wsam:Action="http://almacen.services.weardrop.pucp.edu.pe/AlmacenWS/obtenerPorIdRequest" message="tns:obtenerPorId" />
      <output wsam:Action="http://almacen.services.weardrop.pucp.edu.pe/AlmacenWS/obtenerPorIdResponse" message="tns:obtenerPorIdResponse" />
    </operation>
    <operation name="modificarAlmacen">
      <input wsam:Action="http://almacen.services.weardrop.pucp.edu.pe/AlmacenWS/modificarAlmacenRequest" message="tns:modificarAlmacen" />
      <output wsam:Action="http://almacen.services.weardrop.pucp.edu.pe/AlmacenWS/modificarAlmacenResponse" message="tns:modificarAlmacenResponse" />
    </operation>
  </portType>
  <binding name="AlmacenWSPortBinding" type="tns:AlmacenWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarAlmacenesActivos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarAlmacen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarAlmacen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarAlmacen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AlmacenWS">
    <port name="AlmacenWSPort" binding="tns:AlmacenWSPortBinding">
      <soap:address location="http://localhost:8080/WearDropWS/AlmacenWS" />
    </port>
  </service>
</definitions>