Proyecto WearDrop/WearDropFront/WearDrop/WearDropWA/Connected Services/ServiciosBackEnd/LoteWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://almacen.services.weardrop.pucp.edu.pe/" targetNamespace="http://almacen.services.weardrop.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarLote" type="tns:eliminarLote" />
  <xs:element name="eliminarLoteResponse" type="tns:eliminarLoteResponse" />
  <xs:element name="insertarLote" type="tns:insertarLote" />
  <xs:element name="insertarLoteResponse" type="tns:insertarLoteResponse" />
  <xs:element name="listarLotesActivos" type="tns:listarLotesActivos" />
  <xs:element name="listarLotesActivosPorAlmacen" type="tns:listarLotesActivosPorAlmacen" />
  <xs:element name="listarLotesActivosPorAlmacenResponse" type="tns:listarLotesActivosPorAlmacenResponse" />
  <xs:element name="listarLotesActivosResponse" type="tns:listarLotesActivosResponse" />
  <xs:element name="modificarLote" type="tns:modificarLote" />
  <xs:element name="modificarLoteResponse" type="tns:modificarLoteResponse" />
  <xs:element name="obtenerLotePorID" type="tns:obtenerLotePorID" />
  <xs:element name="obtenerLotePorIDResponse" type="tns:obtenerLotePorIDResponse" />
  <xs:complexType name="insertarLote">
    <xs:sequence>
      <xs:element minOccurs="0" name="datMovimiento" type="tns:lote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lote">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="datAlmacen" type="tns:almacen" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idLote" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="almacen">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idTienda" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarLoteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarLote">
    <xs:sequence>
      <xs:element minOccurs="0" name="datLote" type="tns:lote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarLoteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerLotePorID">
    <xs:sequence>
      <xs:element name="idLote" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerLotePorIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:lote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarLotesActivos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarLotesActivosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:lote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarLotesActivosPorAlmacen">
    <xs:sequence>
      <xs:element name="idAlmacen" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarLotesActivosPorAlmacenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:lote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarLote">
    <xs:sequence>
      <xs:element name="idLote" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarLoteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>