Proyecto WearDrop/WearDropFront/WearDrop/WearDropWA/Connected Services/ServiciosBackEnd/MovimientoAlmacenWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://almacen.services.weardrop.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MovimientoAlmacenWS" targetNamespace="http://almacen.services.weardrop.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WearDropWS/MovimientoAlmacenWS?xsd=1" namespace="http://almacen.services.weardrop.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarMovimientosPorAlmacen">
    <part name="parameters" element="tns:listarMovimientosPorAlmacen" />
  </message>
  <message name="listarMovimientosPorAlmacenResponse">
    <part name="parameters" element="tns:listarMovimientosPorAlmacenResponse" />
  </message>
  <message name="eliminarMovimientoAlmacen">
    <part name="parameters" element="tns:eliminarMovimientoAlmacen" />
  </message>
  <message name="eliminarMovimientoAlmacenResponse">
    <part name="parameters" element="tns:eliminarMovimientoAlmacenResponse" />
  </message>
  <message name="listarMovimientosActivos">
    <part name="parameters" element="tns:listarMovimientosActivos" />
  </message>
  <message name="listarMovimientosActivosResponse">
    <part name="parameters" element="tns:listarMovimientosActivosResponse" />
  </message>
  <message name="obtenerMovimientoPorId">
    <part name="parameters" element="tns:obtenerMovimientoPorId" />
  </message>
  <message name="obtenerMovimientoPorIdResponse">
    <part name="parameters" element="tns:obtenerMovimientoPorIdResponse" />
  </message>
  <message name="modificarMovimientoAlmacen">
    <part name="parameters" element="tns:modificarMovimientoAlmacen" />
  </message>
  <message name="modificarMovimientoAlmacenResponse">
    <part name="parameters" element="tns:modificarMovimientoAlmacenResponse" />
  </message>
  <message name="insertarMovAlmacen">
    <part name="parameters" element="tns:insertarMovAlmacen" />
  </message>
  <message name="insertarMovAlmacenResponse">
    <part name="parameters" element="tns:insertarMovAlmacenResponse" />
  </message>
  <portType name="MovimientoAlmacenWS">
    <operation name="listarMovimientosPorAlmacen">
      <input wsam:Action="http://almacen.services.weardrop.pucp.edu.pe/MovimientoAlmacenWS/listarMovimientosPorAlmacenRequest" message="tns:listarMovimientosPorAlmacen" />
      <output wsam:Action="http://almacen.services.weardrop.pucp.edu.pe/MovimientoAlmacenWS/listarMovimientosPorAlmacenResponse" message="tns:listarMovimientosPorAlmacenResponse" />
    </operation>
    <operation name="eliminarMovimientoAlmacen">
      <input wsam:Action="http://almacen.services.weardrop.pucp.edu.pe/MovimientoAlmacenWS/eliminarMovimientoAlmacenRequest" message="tns:eliminarMovimientoAlmacen" />
      <output wsam:Action="http://almacen.services.weardrop.pucp.edu.pe/MovimientoAlmacenWS/eliminarMovimientoAlmacenResponse" message="tns:eliminarMovimientoAlmacenResponse" />
    </operation>
    <operation name="listarMovimientosActivos">
      <input wsam:Action="http://almacen.services.weardrop.pucp.edu.pe/MovimientoAlmacenWS/listarMovimientosActivosRequest" message="tns:listarMovimientosActivos" />
      <output wsam:Action="http://almacen.services.weardrop.pucp.edu.pe/MovimientoAlmacenWS/listarMovimientosActivosResponse" message="tns:listarMovimientosActivosResponse" />
    </operation>
    <operation name="obtenerMovimientoPorId">
      <input wsam:Action="http://almacen.services.weardrop.pucp.edu.pe/MovimientoAlmacenWS/obtenerMovimientoPorIdRequest" message="tns:obtenerMovimientoPorId" />
      <output wsam:Action="http://almacen.services.weardrop.pucp.edu.pe/MovimientoAlmacenWS/obtenerMovimientoPorIdResponse" message="tns:obtenerMovimientoPorIdResponse" />
    </operation>
    <operation name="modificarMovimientoAlmacen">
      <input wsam:Action="http://almacen.services.weardrop.pucp.edu.pe/MovimientoAlmacenWS/modificarMovimientoAlmacenRequest" message="tns:modificarMovimientoAlmacen" />
      <output wsam:Action="http://almacen.services.weardrop.pucp.edu.pe/MovimientoAlmacenWS/modificarMovimientoAlmacenResponse" message="tns:modificarMovimientoAlmacenResponse" />
    </operation>
    <operation name="insertarMovAlmacen">
      <input wsam:Action="http://almacen.services.weardrop.pucp.edu.pe/MovimientoAlmacenWS/insertarMovAlmacenRequest" message="tns:insertarMovAlmacen" />
      <output wsam:Action="http://almacen.services.weardrop.pucp.edu.pe/MovimientoAlmacenWS/insertarMovAlmacenResponse" message="tns:insertarMovAlmacenResponse" />
    </operation>
  </portType>
  <binding name="MovimientoAlmacenWSPortBinding" type="tns:MovimientoAlmacenWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarMovimientosPorAlmacen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarMovimientoAlmacen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarMovimientosActivos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerMovimientoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarMovimientoAlmacen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarMovAlmacen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MovimientoAlmacenWS">
    <port name="MovimientoAlmacenWSPort" binding="tns:MovimientoAlmacenWSPortBinding">
      <soap:address location="http://localhost:8080/WearDropWS/MovimientoAlmacenWS" />
    </port>
  </service>
</definitions>