Proyecto WearDrop/WearDropFront/WearDrop/WearDropWA/Connected Services/ServiciosBackEnd/MovimientoAlmacenXLoteWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://almacen.services.weardrop.pucp.edu.pe/" targetNamespace="http://almacen.services.weardrop.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarMovXLote" type="tns:eliminarMovXLote" />
  <xs:element name="eliminarMovXLoteResponse" type="tns:eliminarMovXLoteResponse" />
  <xs:element name="insertarMovXLote" type="tns:insertarMovXLote" />
  <xs:element name="insertarMovXLoteResponse" type="tns:insertarMovXLoteResponse" />
  <xs:element name="listarMovXLoteActivosPorAlmacen" type="tns:listarMovXLoteActivosPorAlmacen" />
  <xs:element name="listarMovXLoteActivosPorAlmacenResponse" type="tns:listarMovXLoteActivosPorAlmacenResponse" />
  <xs:element name="listarMovimientoXLotesActivos" type="tns:listarMovimientoXLotesActivos" />
  <xs:element name="listarMovimientoXLotesActivosResponse" type="tns:listarMovimientoXLotesActivosResponse" />
  <xs:element name="modificarMovXLote" type="tns:modificarMovXLote" />
  <xs:element name="modificarMovXLoteResponse" type="tns:modificarMovXLoteResponse" />
  <xs:element name="obtenerMovXLotePorID" type="tns:obtenerMovXLotePorID" />
  <xs:element name="obtenerMovXLotePorIDResponse" type="tns:obtenerMovXLotePorIDResponse" />
  <xs:complexType name="listarMovXLoteActivosPorAlmacen">
    <xs:sequence>
      <xs:element name="idAlmacen" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarMovXLoteActivosPorAlmacenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:movimientoAlmacenXLote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="movimientoAlmacenXLote">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="datLote" type="tns:lote" />
      <xs:element minOccurs="0" name="datMov" type="tns:movimientoAlmacen" />
      <xs:element name="idMov_X_Lote" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lote">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="datAlmacen" type="tns:almacen" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idLote" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="almacen">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idTienda" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="movimientoAlmacen">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="datAlmacen" type="tns:almacen" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="idMovimiento" type="xs:int" />
      <xs:element minOccurs="0" name="lugarDestino" type="xs:string" />
      <xs:element minOccurs="0" name="lugarOrigen" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipoMovimiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarMovXLote">
    <xs:sequence>
      <xs:element minOccurs="0" name="datMovXLote" type="tns:movimientoAlmacenXLote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarMovXLoteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarMovXLote">
    <xs:sequence>
      <xs:element name="idMovXLote" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarMovXLoteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarMovimientoXLotesActivos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarMovimientoXLotesActivosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:movimientoAlmacenXLote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerMovXLotePorID">
    <xs:sequence>
      <xs:element name="obtenerMovXLotePorId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerMovXLotePorIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:movimientoAlmacenXLote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarMovXLote">
    <xs:sequence>
      <xs:element minOccurs="0" name="datMovXLote" type="tns:movimientoAlmacenXLote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarMovXLoteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoMovimiento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Entrada" />
      <xs:enumeration value="Salida" />
      <xs:enumeration value="Mov_Interno" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>